/* ========= Effect ========= */
/* Effect-shadow */
/* Light */
$shadow-elevation-1: 0 1px 8px 0 rgba(0, 0, 0, 0.12);
$shadow-elevation-2: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
$shadow-elevation-3: 0 8px 32px 0 rgba(0, 0, 0, 0.12);
$shadow-tooltip: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
$shadow-app-navbar: 0 3px 12px 0 rgba(0, 0, 0, 0.2);
$shadow-slider-handle: 0 1px 4px 0 rgba(0, 0, 0, 0.24);

/* Dark */
$shadow-dark-elevation-dark-1: 0 1px 8px 0 rgb(0, 0, 0);
$shadow-dark-elevation-dark-2: 0 4px 24px 0 rgba(0, 0, 0, 0.9);
$shadow-dark-elevation-dark-3: 0 4px 40px 0 rgba(0, 0, 0, 0.8);
$shadow-dark-tooltip: 0 1px 8px 0 rgba(0, 0, 0, 0.8);
$shadow-dark-app-navbar: 0 3px 12px 0 rgba(0, 0, 0, 0.8);
$shadow-dark-slider-handle: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
